<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Hình ảnh</span>
                    </div>
                    <input type="text" class="form-control" aria-label="FullName" aria-describedby="inputGroup-sizing-default">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Họ và tên</span>
                    </div>
                    <input type="text" class="form-control" id="FullName" aria-label="FullName" aria-describedby="inputGroup-sizing-default">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Giới tính</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Nam</a>
                            <a class="dropdown-item" href="#">Nữ</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-update" data-dismiss="modal">Cập nhật</button>
                <button type="button" class="btn btn-default btn-cancel">Hủy bỏ</button>
            </div>
        </div>
    </div>
</div>
