<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/admin-site/images/favicon.ico" type="image/ico" />

    <title>@ViewData["Title"]</title>

    <!-- Bootstrap -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- NProgress -->
    <link href="~/lib/nprogress/nprogress.css" rel="stylesheet" />
    <!-- iCheck -->
    @*<link href="~/lib/iCheck/skins/flat/green.css" rel="stylesheet" />*@

    <!-- bootstrap-progressbar -->
    @*<link href="../vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">*@
    <!-- JQVMap -->
    @*<link href="../vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />*@
    <!-- bootstrap-daterangepicker -->
    <link href="~/lib/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />

    <!-- Custom Theme Style -->
    <link href="~/admin-site/css/custom.css" rel="stylesheet" />
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            @await Component.InvokeAsync("DieuHuong")

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <nav class="nav navbar-nav">
                        <ul class=" navbar-right">
                            <li class="nav-item dropdown open" style="padding-left: 15px;">
                                <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                    <img src="/admin-site/images/img.jpg" alt="">Tường Khang
                                </a>
                                <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="javascript:;">Thông tin cá nhân</a>
                                    <a class="dropdown-item" href="login.html"><i class="fa fa-sign-out pull-right"></i>Đăng xuất</a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    @RenderBody()
                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    HighSchool Managerment - Developed by Tuong Khang
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>

    <!-- jQuery -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <!-- Bootstrap -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>

    <script src="~/lib/mustache/mustache.js"></script>
    <script src="~/lib/twbs-pagination/jquery.twbsPagination.min.js"></script>
    <script src="~/lib/notify/notify.min.js"></script>
    <!-- FastClick -->
    <script src="~/lib/fastclick/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/lib/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="~/lib/Chart.js/chart.js"></script>
    <!-- gauge.js -->
    <script src="~/lib/gauge.js/gauge.js"></script>
    <!-- iCheck -->
    <!-- Skycons -->
    <script src="~/lib/skycons/skycons.js"></script>

    <!-- DateJS -->
    <script src="~/lib/datejs/date.min.js"></script>

    <!-- bootstrap-daterangepicker -->
    <script src="~/lib/bootstrap-daterangepicker/moment.min.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="~/admin-site/js/custom.js"></script>
    <script src="~/admin/shared/admin.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>